/*================ General layout styles ================*/
body,
html {
	background-color: $color-body;
}

.collection-list{
	background-color: $default-color;
	margin-bottom: 30px;
}

/*.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
  }*/


  /*font import and stacking*/
  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
  $first: 'Poppins', sans-serif;
  $second: 'Roboto', sans-serif;
  $size : 14px;

  @mixin font($family: $first, $weight: 300, $style: normal, $size: $size, $color: $white) {
  	font-family: $family;
  	font-weight: $weight;
  	font-style: $style;
  	font-size: $size;
  	color: $color;
  }

  /*homepage*/
  .slider{

    .flexslider{
      background: transparent;
      border: none;
      margin: 0;
      .sliders{
        height: 400px;
        .main{
         background-repeat: no-repeat;
         background-size: 100%;
         height: 100%;
         border-radius: 4px;
         .content{
          padding: 50px;
          h2,h3,h4{
            @include font($first, 600, $size:36px, $color:#000000); 
          }
          h3{
           font-size: 24px;
           font-weight: 400;
           margin-bottom: 30px;
           color: #333333;
         }
         h4{
          background: #000000;
          padding: 10px 15px;
          display: inline-block;
          margin: 0;
          border-radius: 30px;
          font-size: inherit;
          a{
           font-size: 14px;
           color: #fff;
           text-transform: uppercase;
           margin-bottom: 35px;
           &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}

}
.flex-control-nav{
  bottom: 20px;
  li a{
    background: transparent;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.9);
  }
}

.col-md-3{
  padding-left: 0;

  .banners{
    margin-top: 10px;
    /*	padding: 10px;*/
    .main{
     background-repeat: no-repeat;
     /* background-size: 100%;*/
     height: 100%;
     border-radius: 4px;
   }
   .content{
    padding: 25px 20px 0;	
    h2,h3,h4{
     @include font($first, 600, $size:18px, $color:#fff);	
   }
   h3{
     font-size: 15px;
     font-weight: 400;
     margin-bottom: 30px;
   }
   h4{
    padding-bottom: 30px;
    margin-bottom: 0;
    a{
     font-size: 13px;
     color: #84c98b;
     text-transform: uppercase;
     margin-bottom: 35px;
     &:hover{
      text-decoration: none;
    }
  }
}
}
&:first-child{
  margin-top: 0;
}
&:last-child{
  h2,h3,h4 a{
    color: #503720;
  }
}
}
}
}


.carousel-slider{
  border-radius: 4px;
  margin-top: 25px;
  background: #fff;
  border-top: 3px solid #84c98b;
  position: relative;
  .main-top{
   padding: 15px 20px;
   border-bottom: 1px solid #eeeeee;
   .time-counter{
     @include font($first, 600, $size:16px, $color:#000000); 
   }
   h4{
     @include font($first, 600, $size:20px, $color:#000000); 
     margin: 0;
     a{
       @include font($first, 400, $size:13px, $color:#333333); 
       &:hover{
        text-decoration:none;
      }
    }
  }
}
.nav-stacked{
  display: inline-block;
  position: absolute;
  left: -127px;
  li{
    background: #666666;
    text-align: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
    a{
     @include font($first, 400, $size:13px, $color:#fff); 
     padding: 7px 15px;
   }
   > a{
     border-top-left-radius: 20px ;
     border-bottom-left-radius: 20px ;
     &:hover, 
     &:focus{
      background-color: #666666;
      color: #84c98b;
    }
  }
}
.active{

 background: #666666;
 a{
  background: #666666;
  color: #84c98b;
  &:hover,
  &:focus{
    background-color: #666666;
  }
}
}
li+li{
  margin-top: 3px;
}
}
.box{
 padding: 15px 5px;
 .flexslider{
  border: none;
  margin: 0;
  background: transparent;
  border-radius: 0;
  .slides{
    li{
      .border{
       border: 1px solid #ccc;
       margin: 0 20px;
       .sliders{
        height: 180px;
        padding: 20px;
        .main-slider{
         background-repeat: no-repeat;
         background-size: contain;
         height: 100%;
         border-radius: 4px;
         display: block;
         background-position: center center;
       }
     }
   }
   .figcaption{
    margin: 0 20px;
    .name_wrapper{
      @include font($first, 400, $size:13px, $color:#000000); 
      line-height: 20px;
      height: 40px;
    }
    .price_wrapper{
     @include font($first, 600, $size:16px, $color:#000000); 
     .compare-at{
       @include font($second, 400, $size:13px, $color:#999999); 
       text-decoration: line-through;
     }
   }
   a{
    &:hover{
      text-decoration: none;
    }
  } 
}
}
}
}
}
}
.black{
  border-top: 0;
  .main-top{
    background: #333333;
    h4{
      color: #fff;
      a{
        color: #fff;
        padding: 10px 15px;
        display: inline-block;
        border-radius: 30px;
        background-color: #84c98b;
        text-transform: uppercase;
      }
    }
  }

  .box{
   .carousel-two-items .slides li{
    .figcaption .name_wrapper{
      height: auto;
      width: 80%;
      float: left;
      @include font($first, 600, $size:18px, $color:#333333); 
    }

    .figcaption .price_wrapper{
      width: 20%;
      text-align: right;
      display: inline-block;
      margin-top: 10px;
    }

    .border{
      border: none;
      .sliders{
        height: 280px;
        padding: 0;
        .main-slider{
          background-size: cover;
          background-position: initial;
        }
      }
    } 
  } 
}
}


.collection-list{
  .no-padding-right{
    padding-right: 0;
  }
  .no-padding-left{
    padding-left: 0;
  }
  .no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  .flexslider{
    background: #fff;
    padding: 0;
    border: none;
    margin: 4px;


    .sliders{

      height: 493px;
      .main{
        padding: 15px 20px;
        background-repeat: no-repeat; 
        background-position: center center;
        border-radius: 4px;
        .content{
          margin: 312px 0 65px;
          padding: 13px 20px;
          border-radius: 4px;
          background-color:rgba(51, 51, 51, 0.8);
          h2,h3{
            text-align: center;
            @include font($first, 600, $size:20px, $color:#fff); 
            text-transform: uppercase;
            margin: 0;
          }
          h3{
            font-size: 13px;
            text-transform: inherit;
            @include font($second, 400, $size:13px, $color:#fff); 
          }
          hr{
            border-top: 1px solid #666666;
            margin: 13px 0; 
          }
        }
      }
    }
    .flex-control-nav{
      bottom: 10px;
    }
  }
  .wall{
    position: relative;
    height: 243px;
    margin: 4px;
    .img-responsive{
      display: inline-block;
    }

    .content{
      position: absolute;
      top: 40px;
      left: 35px;

      h2{
       @include font($first, 600, $size:22px, $color:#333333); 
     }
     h5{
      @include font($second, 400, $size:16px, $color:#333333);
      width: 60%; 
    }
  }
   &:hover,
    &:focus{
      box-shadow: 0 3px 6px 0 rgba(51,51,51,.3);
      .content {
        h2{
          color: #84c98b;
        }
      } 
    }
} 
.col-md-3,
.col-md-4{
  padding-right: 5px;
  .wall{
    border: 1px solid #e1e1e1;
    padding: 17px 0 0;
    height: 243px; 
    border-radius: 4px;
    .image{
      height: 100%;
      p{
        @include font($first, 600, $size:15px, $color:#333333); 
        text-align: center;
      }
      .img-inline{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 80%;
      }
    }
    &:hover,
    &:focus{
      box-shadow: 0 3px 6px 0 rgba(51,51,51,.3);
      .image a{
        text-decoration:none;
        p{
          color: #84c98b;
        }
      } 
    }
  }
}
.col-md-4{
  padding-right: 0;
  .wall{
   margin: 4px;
 }
}
}