/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.collection-list{
	 background-color: $default-color;
	 margin-bottom: 30px;
}

/*.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}*/


/*font import and stacking*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
$first: 'Poppins', sans-serif;
$second: 'Roboto', sans-serif;
$size : 14px;

@mixin font($family: $first, $weight: 300, $style: normal, $size: $size, $color: $white) {
	font-family: $family;
	font-weight: $weight;
	font-style: $style;
	font-size: $size;
	color: $color;
}