<div id="subcollection">
	<div class="container">
		{% include 'breadcrumbs' %}

		<div class="col-md-2 col-sm-2 col-xs-12">
			sidebar
		</div>
		<div class="col-md-10 col-sm-10 col-xs-12">

			<div class="row">

				<div class="col-md-12 col-xs-12 col-sm-12">

					<div class="row">

						<div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
							<div class="filter_c">
								<!-- begin collection views -->
								<div class="collection-view pull-right hidden-xs">
									<a title="Grid view" class="btn btn-default change-view{% unless template contains 'list' %} active-filter{% endunless %} ml5 mr5" data-view="grid">
										<i class="fa fa-lg fa-th"></i>
									</a>
									<a title="List view" class="btn btn-default change-view{% if template contains 'list' %} active-filter{% endif %} mr5" data-view="list">
										<i class="fa fa-lg fa-list"></i>
									</a>
								</div>
								<!-- end collection views -->

								<!-- begin collection sorting -->
								<div class="form-inline">
									<div class="form-group pull-right">
										<label for="sort-by">Sort By</label>
										<select class="form-control" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by }}">
											<option value="manual">Featured</option>
											<option value="price-ascending">Price: Low to High</option>
											<option value="price-descending">Price: High to Low</option>
											<option value="title-ascending">A-Z</option>
											<option value="title-descending">Z-A</option>
											<option value="created-ascending">Oldest to Newest</option>
											<option value="created-descending">Newest to Oldest</option>
											<option value="best-selling">Best Selling</option>
										</select>
									</div>
								</div>
								<!-- end collection sorting -->

							</div><!-- filter -->
						</div>
					</div>

					<hr id="separator">
				</div>
			</div>

			{% paginate collection.products by 12 %}

			<ul class="nav nav-pills nav-tabs">
				{% for product in collection.products %}
				{% include 'collection-products'%}
				{% endfor %}
			</ul>

			<div class="col-md-12 text-center col-xs-12 col-sm-12">
				{% if paginate.pages > 1 %}
				{% include 'pagination' %}
				{% endif %}
			</div>
			{% endpaginate %}
		</div><!-- col-md-9 col-sm-9 col-xs-12 -->

	</div><!-- container -->
</div><!-- subcollection -->