<div class="container">
  {% include 'breadcrumbs' %}

  {% include  'collection-first-section'  %} 
  {% comment %}{% include  'collection-shop-by-brands'  %}{% endcomment %}
</div><!-- container -->


{% include  'collection-sections'  %}