/*================ collection ================*/
.template-collection{


	header{
		#middle{
			opacity: 1;
			visibility: visible;
		}
		.affix{
			position: relative;
		}
	}


	.breadcrumb{
		background: #fff;
		padding: 10px;
		border-radius: 0;
		@include font($second, 400, $size:14px, $color:#000);
		a{
			@include font($second, 700, $size:16px, $color:#000);
			&:hover,
			&:focus{
				text-decoration: underline;	
			}
		}
		.page-name{
			text-transform: capitalize;
		}
	}





	#nav-second{
		background-color: rgba(51, 51, 51, 0.8);
		li{
			a{
				@include font($first, 400,  $size:14px, $color:#fff);
				text-transform: capitalize;
				padding: 7px 15px;
				&:hover,
				&:focus{
					border-radius:0;
					color: #fff;
					background: #84c88b;
				}
			}
		}
		li+li{
			margin-left: 0;
		}
		.active{
			a{
				background: #84c88b;
				border-radius: 0;
			}
		}
	}
	.affix-top{
		opacity: 0;
		visibility: hidden;
	}
	.affix{
		top: 0;
		width: 100%;
		z-index: 100000;
		display: block;
	}

	.sidebar{
		background: #fff;
		h3{
			@include font($second, 700, $size:16px, $color:#000);
			border-bottom: 1px solid #333333;
			padding: 10px;
			margin: 0;
		}
		.menu{
			position: static;
			display: block;
			border-radius: 0;
			box-shadow: none;
			width: 100%;
			border: none;
			margin: 0;
			padding: 0;

			.dropdown-menu{
				border-top:1px solid #333333;
				border-bottom:1px solid #333333;
				border-right:1px solid #333333;
				box-shadow: none;
				padding: 0;
				border-left: 1px solid #333333;
			}

		}
		.dropdown-submenu{position:relative;}
		.dropdown-submenu>.dropdown-menu
		{
			top:0px;
			left:99.5%;
			margin-top:0px;
			margin-left:0px;
			border-radius: 0;
		}
		.dropdown-submenu:hover>.dropdown-menu{
			display:block;
		}

		.dropdown-submenu{
			border-bottom: 1px solid #eee;

			> a{
				background: #fff;
				padding: 10px;
				&:hover,
				&:focus{
					border-left:5px solid #333333;
					border-top:1px solid #333333;
					border-bottom:1px solid #333333;
					border-right: 1px solid #fff;
					z-index: 100000;
					position: relative;
					.dropdown-menu{
						a{
							border:none;
							background: #fff;
							&:hover,
							&:focus{
								border:none;
								/*z-index: 9999;*/
								position: relative;

							}
						}
					}
				}

			}
		} 
		.current{
			float:none; 	
			border-bottom: 1px solid #eee;


			&:hover,
			&:focus  {

				background: #fff;

				.dropdown-menu{
					a{
						border:none !important;
						background:#fff;
						&:hover,
						&:focus{
							border:none;
							z-index: 9999;
							position: relative;

						}
					}
				}
				> a{
					border-left:5px solid #333333 !important;
					border-top:1px solid #333333 !important;
					border-bottom:1px solid #333333 !important;
					border-right: 1px solid #fff !important;
					z-index: 100000;
					position: relative;
				}
				
			}

		} 
		.dropdown-menu>li>a{
			padding: 10px;
			text-transform: capitalize;
		}


		}/*sidebar*/

		.wall{
			margin-bottom: 0px;
			background: #fff;
			.col-md-4,.col-md-3{
				border-right:1px solid #eee;
				padding: 10px;
				.categ-title a{
					@include font($second, 700, $size:16px, $color:#333);
					text-transform: capitalize;
					&:hover{
						text-decoration:none;
					}
				}

				.wall{
					height: 100px; 
					border-radius: 0px;

					.image{
						height: 100%;
						.img-inline{
							background-repeat: no-repeat;
							background-size: initial;
							background-position: center center;
							height: 100%;
						}
					}
					
				}
			}
			li:nth-child(3n) .col-md-4  {
				border-right: none;
			}
			li .col-md-4{
				border-bottom: 1px solid #eee;
			}
			li+li{
				margin-top: 0;
			}

			.col-md-6{
				.content{
					margin-bottom: 0;
					a{
						@include font($second, 400, $size:14px, $color:#333);
						text-transform: capitalize;
					}
				}
				.all{
					margin-top: 10px;
					a{
						@include font($second, 700, $size:14px, $color:#333);
					} 
				} 
			}
			.thumbnail{
				border: 1px solid #ccc;
				margin-bottom: 10px;
				&:hover{
					box-shadow:0 3px 6px 0 rgba(51,51,51,0.3)
				}
			}
		}	
		.large-wall{
			@extend .wall;
			margin-bottom: 34px;
			padding: 20px 0 0;
			.categ-title{
				padding: 0 20px;
				a{
					@include font($second, 700, $size:20px, $color:#333);
					text-transform: capitalize;
					&:hover{
						text-decoration:none;
					}
				}
			}
			.no-margin{
				margin-left: 0;
				margin-right: 0;

				.nav-tabs{
					padding: 0; 
					border-top:1px solid #ccc ;
					border-bottom: 0;
					li{
						border-right:1px solid #ccc;
						border-bottom: 1px solid #ccc;	
						margin-bottom: 0;
						padding: 10px;
						&:hover,
						&:focus{
							box-shadow: 0 3px 6px 0 rgba(51,51,51,.3);
							.image a{
								text-decoration:none;
								p{
									color: #84c98b;
								}
							} 
						}
						/*&:first-child{
							border-left: 1px solid #ccc;
							}*/
							&:nth-child(6n+0){
								border-right: 0;
							}
						}
					}

					.wall{

						padding: 0 10px;
						height: 100px; 
						border-radius: 0px;

						.image{
							height: 100%;
							.img-inline{
								background-repeat: no-repeat;
								background-size: initial;
								background-position: center center;
								height: 100%;
							}
						}

					}
				}
				hr{
					margin-bottom: 0;
					margin-top: 0;
				} 
				.col-md-4{
					padding: 0;
					h2{
						@include font($second, 700, $size:16px, $color:#333);

					}
					.box-left{
						padding: 0 35px;
						.subnav { clear: both; list-style-type: none; margin: 25px 0 17px; padding: 0; height: 108px; }
						.subnav li { display: block; float: left; }
						.subnav li a {
							display: block;
							padding: 4px 7px;
							-webkit-border-radius: 4px;
							-moz-border-radius: 4px;
							border-radius: 4px;
							margin: 0 7px 7px 0;
							text-transform: capitalize;
							border: 1px solid #ccc;
							@include font($second, 400, $size:14px, $color:#333);

						}
						.subnav li a:hover, .subnav li.active a {
							background: #f8f8f8;
							color: #333;
							text-decoration: none;
						}
					}
				}
				.no-padding-left{
					padding-left: 0;
				}
				.no-padding-right{
					padding-right: 0;
				}
				.col-md-3{
					border-bottom: 1px solid #eee ;
					.box{
						height: 157px;
						.thumbnail{
							margin-top: 10px;
						}
					}
					&:focus,
					&:hover{
						box-shadow:0 3px 6px 0 rgba(51,51,51,0.3); 
					}
				}
				.content {
					@include font($second, 700, $size:14px, $color:#333);
					text-transform: capitalize;

					&:hover{
						text-decoration:none;
					}
					span{
						display: block;
						font-size: 14px;
						font-weight: normal;
					}
				}
				&:focus{
					outline: 0;
				}
				}/* large-wall		 */


				#section-more{

					.col-md-2{
						height: 350px;
					}
					h4 a{
						@include font($second, 700, $size:16px, $color:#333);
						&:hover,
						&:focus{
							color: #84c88b;
							text-decoration: underline;
						}	
					}
					.nav-stacked{
						text-align: center;
						li{
							border: none;
							padding: 0;
							a{
								@include font($second, 700, $size:14px, $color:#333);
								padding: 5px 10px;
								&:hover,
								&:focus{
									background: transparent;
									color: #84c88b;
									text-decoration: underline;
								}

							}
							&:hover,
							&:focus{
								box-shadow: none;
								background: transparent;
							}
						}
					}
					}/*section-more*/

	}/*template-collection*/