/*================ subcollection ================*/
#subcollection{
	background: #fff;

.collection-view{
	padding-left: 15px;
	.btn-default{
		background: transparent;
		padding: 0px 2px;
	}
	.active-filter{
		color: #84c98b;
	}
}

.product-grid-image{
	position: relative;

}

	.item-swatch { 
		list-style: none; 
		padding: 0; 
		margin: 0; 
		line-height: 0; 
		li {
			display: inline-block;
			margin: 0 2px 2px; 
			label { 
				cursor:pointer; 
				margin: 0; 
				width: 15px; 
				height: 15px; 
				-webkit-border-radius: 100%; 
				-moz-border-radius: 100%; 
				border-radius: 100%; 
			}
		}
	}

}/* #subcollection */